<div class="container"  >
  
      
            <p class="text-end" style="margin-top: 2em;"> Bienvenido de Nuevo {{usuario}} ! <br><br> <a href="/admin/login/logout"
                    class=" btn btn-sm btn-danger"> Cerrar sesion <i class="fas fa-sign-out-alt"></i></a> </p>

</div>  
    


 